@import url('https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&effect=shadow-multiple|fire-animation|neon|3d|shadow-multiple|fire|emboss');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    background: transparent;
}
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contentBox{
    width: 400px;
    height: 310px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}
.notice{
    width: 100%;

}
.notice h1{
    position: absolute;
    top: 40px;
    left: 140px;
    font-family: "poppins",sans-serif;
    border-bottom: 5px groove black;
    border-radius: 5px;
}
.notice p{
    position: absolute;
    top: 120px;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 2px;
    width: 95%;

}
.options{
    position: absolute;
    width: 100%;
    top: 230px;
}
.options button{
    height: 30px;
    width: 80px;
    border-radius: 5px;
    margin-left: 75px;
    border-style: none;
    background-color: green;
}
.options :nth-child(1){
    color: white;
    cursor: pointer;

}
.options :nth-child(2){
    background-color: rgb(219, 10, 10);
    color: white;
    cursor: pointer;
}
.options button:hover{
    background-color: black;
}
